:root {
    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed: 2s;
    --typewriterCharacters: 24;
  }
  
  body .content {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    min-height: auto;
    display: flex;
    place-content: left;
    /* text-align: center; */
    background: var(--bg-color);
  }
  
h1{
    font-size: clamp(1rem, 1vw + 1rem, 1rem);
    position: auto;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
    /* animation: slide 10s steps(2); */
  }
  
 h1::before,
h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  
   h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
   h1::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  .subtitle {
    color: hsl(0 0% 0% / 0.7);
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
    position: relative;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(1000);
    }
  }
  
  #yt-link {
    position: absolute;
    bottom: 2em;
    width: 100%;
    color: hsl(0 0 0 / 0.7);
  
    &:hover,
    &:focus {
      color: teal;
    }
  }


